<div data-random-phrase class="text-center">
  <div class="lead" data-toggle-copy-button=".copy-button">
    <button class="copy-button" data-clipboard-target=".phrase"></button>

    <p data-phrase class="phrase"><%= @phrase %></p>
  </div>

  <button data-button type="button" class="btn">
    Gerar outra frase
  </button>
</div>
