<div data-random-phrase class="text-center">
  <p data-phrase class="lead">
    <%= @phrase %>
  </p>

  <button data-button type="button" class="btn" data-clipboard-target=".lead">
    Gerar outra frase
  </button>
</div>
